/* Initial setup */
:root {
  /* Website color palette */
  --color-primary: #0960a3;
  --color-secondary: #9d6b14;
  --color-tertiary: #D9DCD6;
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Sets the font-size to 10px (62.5% of 16px is 10px) Easier to use REM units */
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
}

img {
  max-width: 100%;
}


/* Box styling */
.box {
  padding: 7.5rem 0;
}

.box-title {
  text-align: center;
}

.box-a img {
  border-radius: 50%;
}

.box-content-a {
  display: flex;
  width: 60%;
  gap: 5rem;
  margin: 0 auto;
  align-items: center;
}

.box-b {
  background-color: var(--color-tertiary);
}

.box-content-b {
  width: 60%;
  margin: 0 auto;
}

.box-b ul {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box-b li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 100vh;
  background-image: -webkit-linear-gradient(rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.4)), url(img/header.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header p {
  color: var(--color-secondary);
}

ion-icon {
  color: var(--color-primary);
  font-size: 6rem;
}

/* Grid styles */



/* Main navigation */



/* Mobile navigation */



/* Buttons */



/* Text styling classes */
.text-center {
  text-align: center;
}

.text-x-small {
  font-size: 1.4rem;
  font-weight: 400;
}

.text-small {
  font-size: 1.6rem;
  font-weight: 400;
}

.text-medium {
  font-size: 2rem;
  font-weight: 400;
}

.text-large {
  font-size: 2.4rem;
  font-weight: 400;
}

.text-x-large {
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

.text-x-large::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 25%;
  border-top: 3px solid var(--color-primary);
}

.title-header {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 10vh;
  text-transform: uppercase;
}

.text-header {
  font-size: 3.25rem;
  letter-spacing: 1px;
}


/* Padding / Margin */



/* Media queries */
@media (max-width: 1000px) {
  .box-content-a {
    flex-direction: column;
    gap: 3rem;
  }

  .box {
    padding: 5rem;
  }
}